### other dir ###
classes/
.temp/
logs/
log/
.svn/
svn/
lib/
.act.*
system/

HELP.md
!**/src/main/**
!**/src/test/**

*.class

### jreble config ###
rebel.xml

### Package Files ###
*.jar
*.war
*.ear
*.zip

# tcp 与前端通讯的 api
tcp-api/

# gradle #
build/
.gradle/
out/

### maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
mvnw
mvnw.cmd
### intellj file type ###
bin/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### eclipse file type ###
.settings/
.classpath
.project

### ---- Mac OS X ###
.DS_Store
Icon?

### ---- Windows ###

### Windows image file caches ###
Thumbs.db

### Folder integration file ###
Desktop.ini

### ---- Javadoc ###
docs.tar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

doc_game.txt